:root {
    --color-primary: #e9a52f;
    --color-primary-dark: #ba8426;
    --btn-background: #0b0b0b;
    --color-bg1: #f2f5f9;
    --color-bg2: #dadde0;
    --color-bg3: #c2c4c7;
    --color-title: #0b0b0b;
    --color-text: #3c3c3c;
    --border: 1px solid #a9acae;
    --color-border: #a9acae;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    /* text-transform: capitalize; */
    line-height: 1.5;
}

@font-face {
    font-family: 'outline';
    src: url(../font/KnockyOutlineSemibold.otf);
    font-weight: normal;
}

html {   
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: var(--color-bg1);
}

/* Header start */

header {
    padding: 1vh 7vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-bg3);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

#open-nav,
#close-nav {
    display: none;
}

#open-nav:checked~.nav-x {
    display: flex;
}

#open-nav:checked~nav {
    transform: scale(1);
}

#close-nav:checked~.nav-bar {
    display: flex;
}

.logo {
    font-family: outline;
    color: var(--color-primary);
    background-color: var(--btn-background);
    font-weight: bold;
    font-size: 32px;
    padding: 0 11.11px;
    border-radius: 50%;
    position: relative;
}

nav {
    position: absolute;
    top: 100%;
    right: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center top;
    transform: scale(0);
    transition: transform 0.5s;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li {
    height: 3rem;
    width: 100%;
    background-color: var(--color-bg1);
}

nav ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    transition: background-color 0.5s, color 0.5s;
}

nav ul li a:hover {
    background-color: var(--btn-background);
    color: var(--color-primary);
}

nav ul li:not(.header-nav ul li:last-child) {
    border-bottom: var(--border);
}

.agendar-desktop {
    display: none;
}

.nav-bar,
.nav-x {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: calc(20px + 14px*2);
}

.agendar-mobile {
    position: absolute;
    right: 30px;
    bottom: -800%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(24px + 12px*2);
    height: calc(24px + 12px*2);
    background-color: var(--btn-background);
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.5s;
}

.agendar-mobile:hover {
    opacity: 1;
}

.agendar-mobile svg {
    font-size: 24px;
    display: flex;
    fill: var(--color-primary);
}

/* Header end */

main {
    margin-top: 3.865rem;
}

/* home start */

#home {
    height: calc(40vh + 15vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.home-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    z-index: 2;
}

.home-txt h1 {
    font-size: calc(2.5rem + 2vw);
    color: var(--color-primary);
    font-family: outline;
}

.home-txt h1 span {
    font-size: calc(2rem + 2vw);
    color: var(--color-primary);
    font-family: outline;
}

.home-txt a {
    padding: 0.65rem 2rem;
    background-color: var(--btn-background);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.home-txt a:hover {
    background-color: var(--color-bg3);
    color: #000;
}

.home-img {
    width: 100%;
    height: 100%;
}

.home-img img {
    width: 100%;
    height: 100%;
    filter: brightness(0.3);
}

/* home end */

/* serviços start */

#serviços {
    padding: 0 7vw;
    background-color: var(--color-bg1);
    height: auto;
    text-align: center;
}

#serviços h2 {
    padding: 2rem 0 1rem;
    font-size: 2rem;
}

.serviços-swiper{
    margin-bottom: 2rem;
}

.no-js .serviços-container{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px, 1fr));
    gap: 1rem;
}

.serviços-container{
    padding-bottom: 2rem;
}

.serviços-item {
    border: 1px solid var(--color-primary);
    border-radius: 0.25rem;
    overflow: hidden;
    display: flex !important;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.corteNome{
    color: var(--color-title);
    font-weight: bold;
    font-size: 1.2rem;
}

.serviços-item p:nth-of-type(2){
    color: var(--color-text);
}

.serviços-img {
    width: 100%;
    height: auto;
}

.serviços-img img {
    width: 100%;
    height: auto;
    display: block;
}

.no-js .swiper-button-next,
.no-js .swiper-button-prev{
    display: none;
}

/* serviços end */

/* Localização start */

#localização{
    background-color: var(--color-bg2);
    padding: 2rem 7vw;
    text-align: center;
}

#localização h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.mapa{
    padding: 1rem;
}

#localização iframe{
    border-radius: 0.25rem;   
    width: 100%;
}

/* Localização end */

/* Footer start */

footer {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg1);
    color: var(--color-text);
    font-size: 0.8rem;
    padding: 2vh 0;
    gap: 3vh;
}

footer .contact ul {
    display: flex;
    gap: 3vh;
}

footer .contact ul li a {
    color: var(--color-text);
}

/* Footer end */

@media (min-width: 800px) {
    nav {
        transform: scale(1);
        position: relative;
    }

    nav ul {
        flex-direction: row;
        gap: 1rem;
    }

    nav ul li {
        background-color: var(--color-bg3);
    }

    nav ul li a {
        padding: 0 0.5rem;
        border-radius: 0.25rem;
    }

    .nav-bar,
    .nav-x {
        display: none !important;
    }

    nav ul li:not(.header-nav ul li:last-child) {
        border-bottom: none;
    }

    .no-js .serviços-container{        
        grid-template-columns:repeat(auto-fit,minmax(293px, 1fr));        
    }

    footer {
        flex-direction: row-reverse;
        gap: 0;
        padding: 3vh 15vh;
    }

    footer .copyright,
    footer .contact {
        display: flex;
        justify-content: end;
    }

    footer .copyright {
        width: 60%;
        margin-right: 9vh;
    }

    footer .contact {
        width: 40%;
    }
}